<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="ti-widget-base.html">
<polymer-element name="ti-widget-container" extends="ti-widget-base" attributes="">

    <template>
        <style>
            :host {
                display : inline-block;
                border: 1px solid black;
            }
        </style>
        <content></content>
    </template>
    <script>
        Polymer ('ti-widget-container', 
        {
        	disabled : undefined,  // hide disabled from bindings in designer
            getElement : function() 
            {
                return this;
            }
        });
    </script>
</polymer-element>