<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../ti-widget-common/ti-widget-base-label.html">
<polymer-element name="ti-widget-checkbox" extends="ti-widget-base-label" attributes="checked label">

    <template>
    
        <style>
            *,
            #checkbox::shadow * {
                Box-sizing: Border-box;
            }
            #checkbox {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;   
            }
            #checkbox::shadow #checkboxLabel {
                white-space: nowarp;
            }
            #checkbox.wraplabel::shadow #checkboxLabel {
                white-space: normal;
            }
        </style>
        <paper-checkbox checked="{{checked}}" id="checkbox" label="{{label}}"> </paper-checkbox>
        
    </template>
    <script>
        Polymer ('ti-widget-checkbox', 
        {
            checked: false,
            label: '',
            
            getTextElement : function()
            {
                return this.$.checkbox.$.checkboxLabel;
            },
            getElement : function()
            {
            	return this.$.checkbox;
            },
            textAlignChanged : function()
            {
            	this.style.textAlign = this.textAlign;
            }
        });
    </script>
</polymer-element>