<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="ti-widget-base-text.html">
<polymer-element name="ti-widget-base-label" extends="ti-widget-base-text" attributes="wrap">

    <script>
        Polymer ('ti-widget-base-label', 
        {
            wrap: false,
            
            wrapChanged : function()
            {
                this.getTextElement().style['white-space'] = this.wrap == false ? 'nowrap' : 'normal'; 
            }
        });
    </script>
</polymer-element>