/* styles that are common to all themes */
html /deep/ * {
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}
html paper-radio-button::shadow #ink,
html /deep/ paper-radio-button::shadow #ink,
html paper-radio-button::shadow #ink[checked],
html /deep/ paper-radio-button::shadow #ink[checked],
html paper-radio-button::shadow #onRadio,
html /deep/ paper-radio-button::shadow #onRadio,
html paper-radio-button::shadow #offRadio,
html /deep/ paper-radio-button::shadow #offRadio,
html paper-toggle-button::shadow paper-radio-button::shadow #onRadio,
html /deep/ paper-toggle-button::shadow paper-radio-button::shadow #onRadio,
html paper-toggle-button::shadow paper-radio-button::shadow #offRadio,
html /deep/ paper-toggle-button::shadow paper-radio-button::shadow #offRadio,
html paper-slider::shadow #sliderBar,
html /deep/ paper-slider::shadow #sliderBar {
    -webkit-box-sizing : content-box;
    -moz-box-sizing : content-box;
    box-sizing : content-box;
}
